
/**
 *
 * Author : Levi Lacoss (fishyfishfish55)
 * Github : @fishyfishfish55
 *
 * Also see https://github.com/catppuccin/rofi
 * Colors
 **/

* {
    background:     #24283BBF;
    background-alt: #1F2032BF;
    foreground:     #C0CAF5BF;
    selected:       #8aadf4BF;
    active:         #414868BF;
    urgent:         #F7768EBF;
}
