
/**
 *
 * Author : Levi Lacoss (fishyfishfish55)
 * Github : @fishyfishfish55
 *
 * Also see https://github.com/catppuccin/rofi
 * Colors
 **/

* {
    background:     #24283BCC;
    background-alt: #1F2032CC;
    foreground:     #C0CAF5CC;
    selected:       #8aadf4CC;
    active:         #414868CC;
    urgent:         #F7768ECC;
}
