@import "macchiato.css";

* {
  font-family: "FiraCode Nerd Font";
  font-size: 16px;
  font-weight: bold;
  min-height: 0;
}

#systemd-failed-units,
#workspaces,
#tray,
#clock,
#pulseaudio,
#submap,
#custom-notification {
  border-radius: 1rem;
  background-color: @surface0;
  opacity: 0.75;
  padding: 0.5rem 1rem;
  margin: 5px;
  margin-top: 16px;
}

#waybar {
  background: transparent;
  color: @text;
}

#workspaces {
  margin-left: 2rem;
  padding: 4px;
}

#workspaces button {
  color: @lavender;
}

#workspaces button.active {
  color: @blue;
}

#workspaces button:hover {
  /* Remove predefined box-shadow */
  box-shadow: none;
  /* Remove predefined text-shadow */
  text-shadow: none;
  /* Remove predefined background color (white) */
  background: none;
  /* Disable predefined animations */
  transition: none;
  border-color: transparent;
}


#custom-notification {
  margin-right: 1rem;
}

#submap {
  margin-left: 1rem;
  color: @red;
}

#clock {
  color: @blue;
}

#backlight {
  border-radius: 0;
}

#pulseaudio {
  color: @maroon;
  margin-left: 0;
  margin-right: 2rem;
}

#tray {
  margin-right: 1rem;
}

#workspaces button.urgent {
  color: @red;
}

#systemd-failed-units.ok {
  color: @green;
}

#systemd-failed-units.degraded {
  color: @red;
}
